li{list-style-type:none;}
p{margin: 0;}
a{outline:none;color: inherit;}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;}

.btn{border-radius: 30px;}

.btn-primary{border-color:#ff45a5;color:#ffffff;background-color:#ff45a5;}
.btn-primary:hover{border-color:#c0307f;color:#ffffff;background-color:#d63d8d;}
.btn-primary:focus,
.btn-primary.focus{border-color:#c0307f;color:#ffffff;background-color:#d63d8d;box-shadow:0 0 0 .2rem #ff45a54d;}
.btn-primary.disabled,
.btn-primary:disabled{border-color:#ff45a5;color:#ffffff;background-color:#ff45a5;}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle{border-color:#b73378;color:#ffffff;background-color:#cc3984;}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus{box-shadow:0 0 0 .2rem #ff45a54d;}

.btn-secondary{border-color:#424e77;color:#ffffff;background-color:#424e77;}
.btn-secondary:hover{border-color:#2c3454;color:#ffffff;background-color:#3b456b;}
.btn-secondary:focus,
.btn-secondary.focus{border-color:#2c3454;color:#ffffff;background-color:#3b456b;box-shadow:0 0 0 .2rem #424e774d;}
.btn-secondary.disabled,
.btn-secondary:disabled{border-color:#424e77;color:#ffffff;background-color:#424e77;}
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle{border-color:#2f395a;color:#ffffff;background-color:#2c3454;}
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus{box-shadow:0 0 0 .2rem #424e774d;}

.btn-outline-secondary{border-color:#8E95AD;color:#424e77;}
.btn-outline-secondary:hover{border-color:#8E95AD;background-color:#F0F1F4;color:#424e77;}
.btn-outline-secondary:focus,
.btn-outline-secondary.focus{box-shadow:0 0 0 .2rem #8E95AD4d;}
.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled{color:#424e77;background-color:transparent;}
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle{border-color:#424e77;color:#424e77;background-color:#F0F1F4;}
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus{box-shadow:0 0 0 .2rem #8E95AD4d;}





.navbar{background-color: #fff;height: 70px;padding: 0 20px;align-content: center;box-shadow: 0px 3px 3px rgba(0,0,0, 0.08),0px 10px 10px rgba(0,0,0, 0.04);}
.navbar-logo{margin-bottom: 0;}
.navbar-logo a{display: block;display: flex;align-items: center;}
.navbar-logo-img{display: inline-block;text-indent: -9999px;overflow: hidden;background:url(navbar-logo.svg) 0 0 no-repeat;background-size:contain;width: 100px;height: 36px;}
.navbar-logo-img{}
.navbar-logo-txt{font-size: 15px;color: #666;}

.navbar-nav{flex-direction: row;gap:8px;align-items: center;}

.img-profile{width: 32px;height: 32px;}

.container-fluid{padding: 0;}
#wrapper{height: 100vh;overflow:hidden;}

.map-box{height: calc(100vh - 70px - 160px);background-color: #ade;}

#tost-message{position:absolute;bottom:100px;}
#tost-message{opacity:0;position:fixed;top:50%;left:50%;z-index:9999;padding:1rem 2rem;border-radius:.5rem;transition:opacity .3s ease;transform:translate(-50%, -50%);pointer-events:none;color:#ffffff;font-size:1rem;background-color:rgba(0, 0, 0, .8);}

#tost-message.active{opacity:1;pointer-events:auto;}

.spot-box{position:absolute;bottom:0;left:0;width:100%;height:160px;background-color:#ffffff;box-shadow:0 -3px 3px rgba(0,0,0, .08),0 -10px 10px rgba(0,0,0, .04);}
.spot-box-tab{display:flex;position:absolute;top:16px;left:20px;z-index:1;margin-bottom:0;padding:0;}
.spot-box-tab li{position:relative;}
.spot-box-tab li:before{position:absolute;top:50%;left:0;width:0;height:12px;margin-top:-6px;border-left:1px solid #424e7766;content:'';}
.spot-box-tab li:first-child:before{display:none;}
.spot-box-tab li a{display:flex;padding:0 12px;transition:all .2s ease;text-decoration:none;letter-spacing:-.5px;color:#424e77aa;font-size:15px;line-height:20px;align-items:center;gap:5px;}
.spot-box-tab li a:hover{color:#424e77;}
.spot-box-tab li.active a{color:#424e77;font-weight:bold;}
.spot-box-tab li a .value{vertical-align:middle;color:#ff45a5;font-weight:bold;}
.spot-box-tab li:first-child a{padding-left:0;}


#post-overflow{overflow-x:auto;overflow-y:hidden;height:100%;padding-top:36px;white-space:nowrap;}

#post-container{display:flex;overflow-x:auto;height:100%;padding:10px 20px 16px 20px;gap:12px;}


.post-card{overflow:hidden;position:relative;height:100%;border-radius:8px;cursor:pointer;transition:all .3s ease;box-shadow:0 3px 3px #00000055,0 10px 10px #0000000d}

.post-card:hover,
.post-card.active{box-shadow:0 3px 3px #00000055, 0 10px 10px #0000000d}

.post-card-hover{position:absolute;top:0;left:0;width:100%;height:100%;border:3px solid #424e77;border-radius:8px;user-select:none;transition:all .3s ease;pointer-events:none;background-color:#424e7733;opacity: 0;}
.post-card:hover .post-card-hover,
.post-card.active .post-card-hover{opacity:1;}

.post-img{display:inline-block;height:100%;object-fit:contain;}


.post-type-img{position:absolute;right:0;bottom:0;z-index:2;width:40px;height:40px;border-radius:8px 0 0 0;backdrop-filter: blur(2px);transition: all .4s ease;}
.post-type-img:before{content: '';position: absolute;top: 5px;left: 5px;display: inline-block;background:url(icon-sprite.png) 0 0 no-repeat;background-size: 300px 100px;width: 30px;height: 30px;transition: all .4s ease;}
.post-type-img--explorer{background-color: #424E7766;}
.post-type-img--explorer:before{background-position: -240px -30px;}
.post-type-img--explorer + .post-card-hover{background-color: #424E7733;border-color: #424E77;}
.post-card:hover .post-type-img--explorer,
.post-card.active .post-type-img--explorer{background-color: #424E77}
.post-type-img--mushroom{background-color: #00BBFF66;}
.post-type-img--mushroom:before{background-position: -210px -30px;}
.post-type-img--mushroom + .post-card-hover{background-color: #00BBFF33;border-color: #00BBFF;}
.post-card:hover .post-type-img--mushroom,
.post-card.active .post-type-img--mushroom{background-color: #00BBFF}
.post-type-img--flower{background-color: #FF45A566;}
.post-type-img--flower:before{background-position: -270px -30px;}
.post-type-img--flower + .post-card-hover{background-color: #FF45A533;border-color: #FF45A5;}
.post-card:hover .post-type-img--flower,
.post-card.active .post-type-img--flower{background-color: #FF45A5}

.post-card:hover .post-type-img:before{transform: rotate(20deg);}

#coor-popup {
	background: white;
	border: 1px solid #ccc;
	padding: 8px 12px;
	border-radius: 6px;
	min-width: 120px;
	max-width: 240px;
	box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.03), 0px 14px 9px rgba(0, 0, 0, 0.05), 0px 32px 20px rgba(0, 0, 0, 0.08);
	display: none; /* 기본적으로 숨김 */
	position: relative;
	z-index: 10000;
	color: #333;
	text-align: right;
	position: absolute;
	top: 600px;
	left: 200px;
}

#post-popup {
	background: #ffffffe6;
	border: 1px solid #ccc;
	padding: 8px 12px;
	border-radius: 6px;
	min-width: 120px;
	max-width: 240px;
	box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.03), 0px 14px 9px rgba(0, 0, 0, 0.05), 0px 32px 20px rgba(0, 0, 0, 0.08);
	display: none; /* 기본적으로 숨김 */
	position: relative;
	z-index: 10000;
	color: #333;
	position: absolute;
	top: 200px;
	left: 200px;
}

#post-popup img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 4px 0;
	border-radius: 4px;
}

.post-popup-close-btn {
	background: transparent;
	border: none;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	color: #666;
	padding: 0;
}

/*pc*/
@media (min-width: 992px) {
	#post-popup{}
}


.post-popup-close-btn:hover {
	color: #000;
}

.button-set{display: flex;justify-content: space-between;}

.custom-location-control {
	position: absolute;
	bottom: 0.5em;
	left: 0.5em;
}

.custom-location-control button {
	background: #ffffffe6;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 4px;
	width: 34px;
	height: 34px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}