<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- 모달 헤더 -->
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">로그인/회원가입</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
            </div>

            <!-- ✅ 추가: 안내 문구 -->
            <div>
                <img alt="login-log" src="/img/login-log.png" style="max-width: 100%; height: auto;">
            </div>

            <!-- 모달 바디 -->
            <div class="modal-body">
                <div class="d-flex justify-content-center gap-3 mb-3">.
                    <button class="btn p-0 border-0">
                        <img alt="light themed pill shaped Sign in with Google button" src="/img/web_light_rd_SI.svg">
                    </button>
                </div>
                <hr>
                <div class="d-flex justify-content-center gap-3">
                    <button class="btn p-0 border-0">
                        <img alt="light themed pill shaped Sign in with Google button" src="/img/web_light_rd_SI.svg">
                    </button>
                </div>
            </div>

            <!-- 모달 푸터 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>