<div class="modal fade" id="register-post-modal" tabindex="-1" role="dialog" aria-labelledby="엽서 등록 신청"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">엽서 등록 신청</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image">
                            <img src="/img/post-register.png" alt="register-post-image" style="max-width: 100%; height: auto;">
                        </div>
                        <div class="col-lg-6">
                            <label for="post-name">엽서 이름</label>
                            <input type="text" class="form-control" id="post-name" placeholder="엽서 이름">
                            <label for="post-latitude">위도(구글 좌표 기준 왼쪽)</label>
                            <input type="number" class="form-control" id="post-latitude" placeholder="32.22222">
                            <label for="post-longitude">경도(구글 좌표 기준 오른쪽)</label>
                            <input type="number" class="form-control" id="post-longitude" placeholder="127.22222">
                            <div class="mb-3">
                                <label for="post-img" class="form-label">엽서 이미지 업로드</label>
                                <div class="input-group">
                                    <input type="file" class="form-control" id="post-img" accept="image/*">
                                    <label class="input-group-text" for="post-img">Upload</label>
                                </div>
                            </div>

                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="no-img">
                                <label class="form-check-label" for="no-img">이미지 없음</label>
                            </div>
                            <a class="btn btn-primary btn-user btn-block" onclick="registerPost()">
                                등록 신청
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    async function registerPost() {
        const postName = document.getElementById('post-name').value;
        const postLat = document.getElementById('post-latitude').value;
        const postLon = document.getElementById('post-longitude').value;
        const postImg = document.getElementById('post-img').files[0];
        const noImg = document.getElementById('no-img').checked;

        try {
            const formData = new FormData();
            formData.append('postName', postName);
            formData.append('postLat', postLat);
            formData.append('postLon', postLon);
            formData.append('postImg', postImg);
            formData.append('noImg', noImg);

            const response = await fetch('/pre-posts', {
                method: 'POST',
                body: formData,
                credentials: 'include'
            });

            if (!response.ok) {
                console.log(response);
                throw new Error('Network response was not ok');
            }

            return response.json();

        } catch (error) {
            console.error('Error:', error);
        }
    }
</script>