<div class="modal fade" id="edit-post-modal" tabindex="-1" role="dialog" aria-labelledby="엽서 등록 신청"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">엽서 수정 신청</h5>
                <button class="close" id="" type="button" data-dismiss="modal" aria-label="Close" onclick="">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container">
                    <section class="input-section">
                        <!-- <p class="input-section__help">
                            스팟이 삭제된 경우<br>
                            위도와 경도를 0으로 입력해주세요.
                        </p> -->
                        <div class="d-none" id="edit-post-id"></div>
                        <div class="input-box">
                            <label for="edit-post-latitude">위도</label>
                            <input type="number" class="form-control" id="edit-post-latitude" value="00.0000"> <!-- 기존 위도 -->
                        </div>
                        <div class="input-box">
                            <label for="edit-post-longitude">경도</label>
                            <input type="number" class="form-control" id="edit-post-longitude" value="00.0000"> <!-- 기존 경도 -->
                        </div>
                        <div class="input-box">
                            <label for="edit-post-name">엽서 이름</label>
                            <input type="text" class="form-control" id="edit-post-name" value="@@@@@"> <!-- 기존 엽서 이름 -->
                        </div>
                        <div class="input-box">
                            <label for="post-type">엽서 구분</label>
                            <div class="input-box__radio input-box__radio--post-type">
                                <input type="radio" id="edit-post-type1" name="edit-post-type" value="버섯" checked>
                                <label for="edit-post-type1"><span class="icon-mushroom"></span>버섯</label>
                                <input type="radio" id="edit-post-type2" name="edit-post-type" value="빅플">
                                <label for="edit-post-type2"><span class="icon-flower"></span>빅플라워</label>
                                <input type="radio" id="edit-post-type3" name="edit-post-type" value="탐험">
                                <label for="edit-post-type3"><span class="icon-explorer"></span>탐험</label>
                            </div>
                        </div>
                        <div class="input-box">
                            <label for="edit-post-img">바뀐 엽서 이미지 업로드</label>
                            <img id="original-img" src="" alt="orginal-img" onerror="this.onerror=null; this.src='/img/404-img.png';" style="max-width: 100%; height: auto;">
                            <div class="input-box__file">
                                <input type="file" class="form-control" id="edit-post-img" accept="image/*">
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="edit-no-img">
                                <label class="form-check-label" for="edit-no-img">이미지 변경 없음</label>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <div class="modal-footer">
                <div class="button-set">
                    <div class="button-set__left">
                        <button class="btn btn-outline-secondary">취소</button>
                    </div>
                    <div class="button-set__right">
                        <button class="btn btn-primary">수정 신청</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>