#post-overflow {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.post-card {
    width: 200px;
    flex: 0 0 auto;
}

.post-img {
    object-fit: contain;
    height: 100%;
}

.post-type-img {
    width: 24px;
    height: 24px;
    align-self: end;
}

#coor-popup {
    background: white;
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 6px;
    min-width: 120px;
    max-width: 240px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    display: none; /* 기본적으로 숨김 */
    position: relative;
    z-index: 10000;
    color: black;
    text-align: right;
}

#post-popup {
    background: white;
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 6px;
    min-width: 120px;
    max-width: 240px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    display: none; /* 기본적으로 숨김 */
    position: relative;
    z-index: 10000;
    color: black;
}

#post-popup img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 4px 0;
    border-radius: 4px;
}

.popup-close-btn {
    background: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #666;
    padding: 0;
}
.popup-close-btn:hover {
    color: #000;
}