<!-- scripts.html -->
<script src="/lib/vendor/jquery/jquery.min.js"></script>
<script src="/lib/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/lib/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/lib/vendor/js/sb-admin-2.js"></script>

<!-- Page level plugins -->
<script src="/lib/vendor/chart.js/Chart.min.js"></script>

<!-- 스크롤 라이브러리 -->
<script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>

<!-- Custom -->
<script src="/lib/openlayers/dist/ol.js"></script>
<script src="/js/openlayers.js"></script>
<script src="/js/markers.js"></script>
<script src="/js/postRender.js"></script>
<script src="/js/simpleScrollbar.js"></script>
