<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>엽서 수정 신청</title>
</head>
<body>
<h2>엽서 수정 신청</h2>
<p>엽서 수정 신청이 왔습니다.</p>

<table>
    <tr>
        <th>항목</th>
        <th>값</th>
    </tr>
    <tr>
        <td>ID</td>
        <td th:text="${editId}">ID</td>
    </tr>
    <tr>
        <td>NAME</td>
        <td>
            <span th:text="${orignName}"></span> -> <span th:text="${editName}"></span>
        </td>
    </tr>
    <tr>
        <td>타입</td>
        <td>
            <span th:text="${orignType}"></span> -> <span th:text="${editType}"></span>
        </td>
    </tr>
</table>
</body>
</html>